<!-- views/home.handlebars -->

<!-- ======================================== HOME VIEW HTML ======================================== -->

<div id="Home" class="container-fluid">
  {{#if user}}
  <h1 align="center" style="font-size:70px">Welcome, {{user.username}}</h1>
  {{else}}
  <h1 align="center" style="font-size:70px">Welcome</h1><br>
  {{/if}}
</div>

<div id="Recipes" class="container-fluid">
  <h1 id="headerMap" align="center" style="font-size:70px">Recipes</h1>
</div>
  
{{#if user}}
<div id="Profile" class="container-fluid">
  <h1 align="center" style="font-size:70px;">Profile</h1>
  <div id="profileBox" style="border-style:solid; border-color:#444;border-radius: 25px; 
    padding: 20px; margin-left:25%; margin-right:25%; margin-top:1%;">
    <img id="profilePic" src="http://isigned.org/images/anonymous.png" align="right"></img>
    <b>E-mail: <b><a href id="PBemail"></a><br><br><br><br><br><br>
    <a  href="#" data-toggle="modal" data-target="#editAccModal" id="edit">Edit</button>
  </div>
</div>

<!-- =========================== JavaScript to load and display profile ============================= -->

<script>
$.getJSON("http://127.0.0.1:3000/getProfileInfo?uid={{user.id}}", {
    dataType: 'JSONP'
  }, function(data){
    operateProfile(data);//using data
  }
);

function operateProfile(data) {
  document.getElementById("PBemail").innerHTML = data.email;
  document.getElementById("PBemail").href = "mailto:" + data.email;
}
</script>
{{/if}}

<div id="Comments" class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" align="center">Comments</h3>
    </div>
    <div class="panel-body">
      <div class="fb-comments" data-href="http://127.0.0.1:3000/#Comments" data-numposts="5" data-width="100%"></div>
    </div>
  </div>
</div>