extends layout

block content
  h1 Profile page
  #userinfo
  	p Name: #user.name
  	p allergies: #user.allergies
  	p recipes: #user.recipes
  	if user.professional 
  		p Degrees: #user.degrees
  		p Diets: #user.diets
